body, html {
	background-color: #605a56;
	max-width: 100%;
	overflow-x: hidden;
}
.panel {
	left:0px;
	width: 100%;
	height: 75%;
	top: 0px;
	position:absolute;
	line-height: 50px;
	color: #cccccc;
	text-align: left;	
}
.banner {
	width: 100%;
	height: 6em;
	top: 0px;
	left:0;
	position:absolute;
	background-color: #373331;
	line-height: 50px;
	padding-left:10px;
	color: #80ac7b;
	text-align: left;	
	z-index:2000;
}
.button {
    color:#80ac7b;
    background: #373331; 
	border: none;
	color: 80ac7b;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
    margin: 0 auto;
}
.active {
	background-color:#605a56;
}
#banner:hover {
	background-color: #605a56;
}
.menu-content {
	position:absolute;
	background-color: #605a56;
	display:none;
	width:100%;
	top:9 em;
	left:0;
	z-index: 600;
	transition: height 3s;
	padding-left: 5%;
	padding-top:4.6%;
	line-height: 2;
}
.posts {
	float:left;
	padding-right:1%; 
}
.posts > h1 {
	font-family: 'Roboto', sans-serif;
	line-height:1;
	font-size: medium;
}
.posts > p {
	line-height: 1;
	font-size: small;
}
.posts > a {
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	color: #e8eaa1;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	line-height:1;
}
ul
{
    font-family: Arial, Verdana;
    font-size: medium;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li
{
    display: block;
    position: relative;
    float: left;
}
li ul
{
    display: none;
}
ul li a 
{
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	display: block;
	color: #80ac7b;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	white-space: nowrap;
}
.logo {
	width:15em;
	line-height:1.5em;
}
.footerimage {
	bottom:0px;
	display:block;
}
.content {
	width: 40%;
	height: 80%;
	position: absolute;
	top:15%;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left:10%;
	color: #e8eaa1;
	z-index: 1;
}
.content > h1 {
	font-family: 'Dancing Script', cursive;
		}
.contentright {
	display:block;
	position: absolute;
	width: 100%;
	height: auto;
	top:10em;
	left:55%;
	right:0;
	margin: auto;
	color: #80ac7b;
	z-index:1;
	background-image:img/main.png;
}
.flexBox {
    width: 100%;
    position: absolute;
    top:8em;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    z-index: 2;
}
.blogpost {
    margin: auto;
    background: #80ac7b;
    margin-bottom:5em;
    padding-left: 15px;
    padding-right: 15px;
}
.splash {
    display:block;
    width: 65em;
    height: 50em;
    color:#e8eaa1;
    border-radius: 50px 15px;
    background: #80ac7b;    
    padding-left: 30px;
    padding-right: 15px;
    padding-top 10em;
    margin: 0 auto;
}
.splashimg {
    width:400px;
    margin: 0 auto;
    display:block;
}
.splash  h1 {
	font-family: 'Dancing Script', cursive;
		}
.tileactive {
    display:block;
}
.tilehidden {
    display:none
}
.display {
    width: 50em;
    height: 100%;
    border-radius: 50px 15px;
    display:block;
    margin: 0 auto;
    color:#80ac7b;
    background: #373331;   
}
.blogpost h1 {
    font-size:4em;
    line-height:2em;
    font-family: 'Dancing Script', cursive;
}
.tile {
    width: 19em;
    height: 20em;
    overflow: hidden;
    color:#e8eaa1;
    border-radius: 50px 15px;
}
.tile h1 {
    font-size:4em;
    line-height:2em;
    font-family: 'Dancing Script', cursive;
}
.tile:hover {
    color:#80ac7b;
    background: #373331;
}
.close{
    position:relative;
    top:1em;
    float: right
}